<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title><%= docTitle %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login/?valid=true" class="Login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="first">
            <h1> You got lost ! </h1>
        </section>
    </main>
    <footer>
        <p> Created by Anubhav Pathak </p>
    </footer>
</body>
</html>